@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* ======== < LAYOUT > ======== */

.layout {
  display: grid;
  grid-template-areas:
    'header'
    'main  ';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  justify-items: center;
  width: 100%;
  height: 100vh;
  color: #40403e;
  background-color: #f2f0d5;
  font-family: 'Roboto', sans-serif;
  overflow-y: auto;
}

.header {
  grid-area: header;
  align-content: center;
  height: 200px;
}

.main {
  padding-bottom: 30px;
  grid-area: main;
}

/* ======== </ LAYOUT > ======== */
